<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flare - Home</title>
    <%- include('./layouts/links.ejs') %>
</head>
<body class="reset-body">
    <!-- <header class="bg-blue-200 h-16 w-full flex flex-row justify-between items-center px-4">
        <a href="/" class="logo">Flare</a>
        <div>
            <a href="#">notifications</a>
            <a href="/users/<%- currentUser["$id"] %>">profile</a>
        </div>
    </header> -->

    <header class="sticky left-0 top-0 flex items-center justify-between w-full h-16 px-4 bg-secondary-50 dark:bg-secondary-950 text-secondary-50">
        <div class="logo">Flare</div>
        <div class="flex items-center justify-center w-auto h-full">
            <a href="#" class="link-header"><i class="fa-solid fa-bell"></i></a>
            <a href="/users/<%= currentUser["$id"] %>" class="link-header">
                <img src="<%= currentUser.profilePhotoUrl %>" class="w-10 h-10 rounded-full p-2">
            </a>
        </div>
    </header>



    <main class="dark:bg-secondary-900 bg-secondary-100 w-full h-auto flex flex-col-reverse items-center pb-20">
        <% posts.documents.forEach(post => { %>

            <% if (post.type == "image") { %>
                <% var postGridRows = 12 %>
                <% var postHeight = "h-[40rem]" %>
            <% } else { %>
                <% var postGridRows = 4 %>
                <% var postHeight = "h-60" %>
            <% } %>
            
            <div class="bg-secondary-800 w-96 <%= postHeight %> mt-4 grid grid-rows-<%= postGridRows %> overflow-hidden">
                <div class="row-span-1 bg-secondary-950 flex items-center justify-between px-4">
                    <div class="w-auto h-full flex items-center justify-between">
                        <div class="overflow-hidden rounded-full size-10">
                            <img src="<%= post.sender.profilePhotoUrl %>" class="size-full">
                        </div>
                        <a href="/users/<%= post.sender.$id %>" class="ml-3 text-lg">
                            <%= post.sender.username %>
                        </a>
                    </div>
                    <div class="w-auto h-full flex items-center justify-between">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>
                <% if (post.type == "image") { %>
                    <div class="row-span-8">
                        <div class="w-full h-full bg-center bg-cover bg-no-repeat bg-origin-border">
                            <img src="<%= post.imageUrl %>" class="select-none size-full">
                        </div>
                    </div>
                <% } %>
                <div class="row-span-3 bg-secondary-950 grid grid-rows-6">
                    <div class="row-span-2 w-full flex items-center px-2">
                        <div class="w-auto h-full flex items-center justify-center mx-4">
                            <i class="likeBtn fa-solid fa-heart text-2xl cursor-pointer <%= currentUser.likes.includes(post.$id) ? 'text-red-400' : '' %>" data-id="<%= post.$id %>"></i>
                            <h2 class="text-xl ml-3">0</h2>
                        </div>
                        <div class="w-auto h-full flex items-center justify-center mx-4">
                            <i class="commentBtn fa-solid fa-comment text-2xl cursor-pointer <%= currentUser.comments.includes(post.$id) ? 'text-red-400' : '' %>" data-id="<%= post.$id %>"></i>
                            <h2 class="text-xl ml-3">0</h2>
                        </div>
                        <div class="w-auto h-full flex items-center justify-center mx-4">
                            <i class="saveBtn fa-solid fa-bookmark text-2xl cursor-pointer <%= currentUser.saves.includes(post.$id) ? 'text-red-400' : '' %>" data-id="<%= post.$id %>"></i>
                            <h2 class="text-xl ml-3">0</h2>
                        </div>
                    </div>
                    <div class="row-span-4 w-full flex justify-between flex-col px-4 pb-2">
                        <h1><%= post.title %></h1>
                        <p><%= post.content %></p>
                        <p class="text-gray-400"><%= formatRelativeTime(post.$createdAt) %></p>
                    </div>
                </div>
            </div>
        <% }) %>

    </main>

    <script src="/js/postInteractions.js"></script>

    <!-- include nav -->
    <%- include('./layouts/nav.ejs') %>
    

</body>
</html>