<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flare - Home</title>
    <%- include('./layouts/links.ejs') %>
</head>
<body class="bg-slate-500 flex flex-col justify-center items-center h-full">
    <!-- <%- include('./layouts/nav.ejs') %> -->

    <header class="bg-blue-200 h-16 w-full flex flex-row justify-between items-center px-4">
        <a href="/" class="logo">Flare</a>
        <div>
            <a href="#">notifications</a>
            <a href="/users/<%- currentUser["$id"] %>">profile</a>
        </div>
    </header>

    <main class="bg-red-400 w-full flex flex-auto">
        <h1>MAIN</h1>
       
        <% users.documents.forEach(user => { %>
            <a href="/users/<%= user["$id"] %>">
                <h3><%= user.username %></h3>
                <img src="<%= user.profilePhotoUrl %>" alt="">
            </a>
        <% }) %>
    </main>


    <nav class="bg-blue-200 h-16 w-full">
        <a href="#">home</a>
        <a href="#">search</a>
        <a href="#">new post</a>
        <a href="/feed">feed</a>
        <a href="#">messages</a>
    </nav>

</body>
</html>