<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= userData.username %>'s Profile</title>
    <%- include('./layouts/links.ejs') %>
</head>
<body class="reset-body">
    <main class="w-full h-full">
        <!-- <div class="grid grid-cols-4 w-full h-20">
            <section class="w-full h-full col-span-1">
                <img src="<%= userData.profilePhotoUrl %>">
            </section>
            <section class="col-span-3">
                <div>
                    <h1><%= userData.username %></h1>
                    <% if (userData.email == currentUser.email) { %>
                        <a href="/users/<%= userData["$id"] %>/edit/" class="button">Edit Profile</a>
                    <% } else { %>
                        <a href="/users/<%= userData["$id"] %>/follow" class="button">Follow</a>
                    <% } %>
                </div>
                <div>
                    <div>CoP</div>
                    <div>CoF</div>
                    <div>CoF</div>
                </div>
                <div>
                    <%= userData.bio %>
                </div>
            </section> -->
        <div class="w-full h-60 pt-4 dark:bg-secondary-950 bg-secondary-50">
            <section class="grid grid-cols-6 w-full gap-0">
                <div class="col-span-2 w-full h-full flex items-center justify-center">
                    <img src="<%= userData.profilePhotoUrl %>" class="rounded-full w-28 h-28">
                </div>
                <div class="col-span-4">
                    <div class="w-full flex items-center justify-center pr-2">
                        <h1 class="text-2xl mr-4"><%= userData.username %></h1>
                        <% if (userData.email == currentUser.email) { %>
                            <a href="/users/<%= userData["$id"] %>/edit/" class="button">Edit</a>
                        <% } else { %>
                            <a href="/users/<%= userData["$id"] %>/follow" class="button">Follow</a>
                        <% } %>
                    </div>
                    <div class="w-full flex justify-around items-center p-4 flex-row">
                        <a href="#posts" class="flex flex-col items-center justify-center">
                            <div class="text-2xl"><%= userData.posts.length %></div>
                            <div class="text-lg">Posts</div>
                        </a>
                        <a href="#" class="flex flex-col items-center justify-center">
                            <div class="text-2xl"><%= userData.followers.length %></div>
                            <div class="text-lg">Followers</div>
                        </a>
                        <a href="#" class="flex flex-col items-center justify-center">
                            <div class="text-2xl"><%= userData.following.length %></div>
                            <div class="text-lg">Following</div>
                        </a>
                    </div>
                </div>
            </section>
            <section class="w-full p-3">
                <%= userData.bio %>
            </section>
        </div>


    </main>
    <!-- include nav -->
    <%- include('./layouts/nav.ejs') %>
</body>
</html>