<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- userData.username %>'s Profile</title>
    <%- include('./layouts/links.ejs') %>
</head>
<body class="reset-body">
    <main class="w-full h-full">
        <form action="/users/<%= userData.$id %>/edit/" method="post" enctype="multipart/form-data" class="w-full">
            <section class="grid grid-cols-3 w-full">
                <div class="col-span-1 flex items-center justify-center p-3">
                    <img src="<%= userData.profilePhotoUrl %>" class="w-28 h-28 rounded-full">
                </div>
                <div class="col-span-2 flex items-center justify-center w-full h-full">
                    <input type="file" name="profilePicture">
                </div>
            </section>
            <section class="m-4">
                <label for="username" class="block mb-2 text-sm font-medium text-secondary-950 dark:text-secondary-50">Your username</label>
                <input value="<%= userData.username %>" id="username" type="text" placeholder="John Doe" name="username" class="bg-secondary-50 border border-secondary-100 text-gray-900 outline-none sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-secondary-50 dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
            </section>
            <section class="m-4">
                <label for="bio" class="block mb-2 text-sm font-medium text-secondary-950 dark:text-secondary-50">Your bio</label>
                <input value="<%= userData.bio %>" id="bio" type="text" placeholder="Hello world!" name="bio" class="bg-secondary-50 border border-secondary-100 text-gray-900 outline-none sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-secondary-50 dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </section>
            <section class="m-4">
                <label for="email" class="block mb-2 text-sm font-medium text-secondary-950 dark:text-secondary-50">Your email</label>
                <input value="<%= userData.email %>" id="email" type="email" placeholder="johndoe@flare.com" name="email" class="bg-secondary-50 border border-secondary-100 text-gray-900 outline-none sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-secondary-50 dark:focus:ring-blue-500 dark:focus:border-blue-500 disabled:text-gray-500" required disabled>
            </section>
            <section class="m-4">
                <label for="password" class="block mb-2 text-sm font-medium text-secondary-950 dark:text-secondary-50">Your password</label>
                <input value="<%= userData.password %>" id="password" type="password" placeholder="••••••••" name="password" class="bg-secondary-50 border border-secondary-100 text-gray-900 outline-none sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-secondary-50 dark:focus:ring-blue-500 dark:focus:border-blue-500 disabled:text-gray-500" required disabled>
            </section>
            <section class="m-4">
                <button class="button dark:bg-secondary-950 w-full mt-4">Save Changes</button>
            </section>
        </form>
        
    </main>


    <%- include('./layouts/nav.ejs') %>
</body>
</html>